<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MIDI Controlled Digital Art</title>
  <link rel="stylesheet" href="./styles.css">
  <!-- p5.js library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/webmidi@latest/dist/iife/webmidi.iife.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
  <!-- <script src="chatgpt.js"></script> -->
    <!-- <script src="sketch.js"></script> -->
  <!-- <script src="midi.js"></script> -->
  <!-- <script src="/midiSetting/midiListen.js"></script> -->
  <!-- <script src="bounceball.js"></script> -->
  <script src="noise.js"></script>
</head>
  
  <body>
  </body>
</html>